/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --primary: #1b1b1b;
  --white: #ffffff;
  --red-background: rgba(255, 0, 0, 0.5);
  --red-text: rgb(75, 0, 0);
  --green-background: rgba(0, 128, 0, 0.5);
  --green-text: rgb(0, 75, 0);
}

/* GLOBAL STYLES */
body,
html {
  height: 100%;
}

/* CONTENT CONTAINER */
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

/* HEADER SECTION */
header {
  flex-basis: auto;
  background-color: #1b1b1b;
  display: flex;
  justify-content: space-between;
  padding: 8px 24px;
  color: white;
  gap: 16px;
  align-items: center;
}

header .logo {
  font-size: 2.5rem;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 4px;
}

header .profile-actions {
  display: flex;
  gap: 40px;
  align-items: center;
}

header .profile-picture {
  font-size: 3.5rem;
  background-color: white;
  color: #1b1b1b;
  border-radius: 50%;
}

header .auth-actions {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

header button {
  border: none;
  outline: none;
  background-color: white;
  color: black;
  font-family: inherit;
  padding: 4px 20px;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 12px;
}

header button:hover {
  opacity: 0.8;
}

/* MAIN SECTION */
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* BOOKS SECTION INSIDE MAIN */
.books-container {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

.books-container .book {
  border: 2px solid #1b1b1b;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.book-title {
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;
}

.book-author {
  font-weight: 500;
  font-size: 1.3rem;
}

.book-number-of-pages {
  font-weight: 1.2rem;
  margin: 16px 0;
}

.book-actions {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: auto;
}

.book-actions button.has-read-btn.red-btn {
  background-color: rgba(255, 0, 0, 0.5);
  color: rgb(75, 0, 0);
}

.book-actions button.has-read-btn.green-btn {
  background-color: rgba(0, 128, 0, 0.5);
  color: rgb(0, 75, 0);
}

.book-actions button {
  border: none;
  outline: none;
  background-color: #1b1b1b;
  color: white;
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 1.05rem;
  font-family: inherit;
}

.book-actions button:not(.has-read-btn):hover {
  opacity: 0.8;
}

.book-actions button:active {
  border: 3px solid white;
  outline: 3px solid #1b1b1b;
}

.has-read-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s ease;
}

.has-read-btn .btn-icon {
  transition: transform 1s;
  font-size: 2rem;
}

.has-read-btn:hover .btn-icon {
  transform: rotate(360deg);
}

/* ADD BOOK BUTTON CONTAINER */
.btn-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-basis: auto;
  margin-bottom: 20px;
}

button.add-book-btn {
  border: none;
  outline: none;
  background-color: #1b1b1b;
  color: white;
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 1.2rem;
  font-family: inherit;
}

button.add-book-btn:active {
  border: 3px solid white;
  outline: 3px solid #1b1b1b;
}

button.add-book-btn:hover {
  opacity: 0.8;
}

/* DIALOG */
dialog {
  margin: auto;
  border: none;
  transition: 0.5s;
  padding: 20px;
  border-radius: 12px;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

dialog h1 {
  text-align: center;
}

/* FORM INSIDE DIALOG */
dialog form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

form .form-row {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
}

.form-row label {
  font-size: 1.2rem;
}

.form-row input {
  padding: 4px 8px;
  font-size: 1.1rem;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.form-row select {
  padding: 4px 8px;
  font-size: 1.1rem;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.actions {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.actions button {
  border: none;
  outline: none;
  background-color: #1b1b1b;
  color: white;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 1.2rem;
  font-family: inherit;
}

.actions button:hover {
  opacity: 0.8;
}

.actions .cancel-btn {
  background-color: rgba(255, 0, 0, 0.5);
  color: rgb(75, 0, 0);
}

/* CONFIRM REMOVE DIALOG */
dialog.remove-dialog {
  text-align: center;
}

.remove-dialog p {
  font-size: 1.2rem;
}

.remove-dialog .remove-actions {
  margin-top: 20px;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  padding: 16px;
  color: var(--white);
}